<form [formGroup]="jobForm" novalidate (ngSubmit)="onSubmit()">
  <mat-card class="shipping-card">
    <mat-card-header>
      <mat-card-title>Create a New Job</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <textarea matInput placeholder="Please enter the job description..."
              formControlName="description"></textarea>
            @if (jobForm.controls['description'].hasError('required')) {
            <mat-error>Description is <strong>required</strong></mat-error>
            }
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <textarea matInput placeholder="Please enter OpenAI API Key..." formControlName="apiKey"></textarea>
            @if (jobForm.controls['apiKey'].hasError('required')) {
            <mat-error>API Key is <strong>required</strong></mat-error>
            }
          </mat-form-field>
        </div>
      </div>

    </mat-card-content>
    <mat-card-actions>
      <button matButton="elevated" color="primary" type="submit">Submit</button>
    </mat-card-actions>
  </mat-card>
</form>